<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M6NQD8');</script><!-- End Google Tag Manager --> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/eecs/sites/all/themes/cwru-bluegray/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="http://engineering.case.edu/eecs/" />
<meta name="revisit-after" content="1 day" />
		<title> Home | Electrical Engineering and Computer Science</title>
		<link type="text/css" rel="stylesheet" media="all" href="/eecs/sites/engineering.case.edu.eecs/files/css/css_8758fceafd19bac26e4534defec78b25.css" />
		                    <link href="/sites/all/themes/cwru-bluegray/home.css" type="text/css" media="all" rel="stylesheet">
                                
		<script type="text/javascript" src="/eecs/sites/engineering.case.edu.eecs/files/js/js_e8c884cd40416053f5d135ea88eab8e0.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/eecs/", "googleanalytics": { "trackOutbound": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" }, "nice_menus_options": { "delay": "800", "speed": "slow" }, "RotorBanner": { "rotor-block_1": { "view_id": "rotor", "display_id": "block_1", "effect": "fade", "time": "5", "speed": 2000, "pause": 1 } } });
//--><!]]>
</script>
		
	</head>
	
	<body class="sidebars">

<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6NQD8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Layout -->
	
    <div id="cwruHeader">

        <div id="cwruHeaderContent">
	        <div class="logo">
			<a href="http://engineering.case.edu">
			<img width="217" height="55" border="0" src="/eecs/sites/all/themes/cwru-bluegray/logo.png" alt="" id="logo" />			</a>
			</div>
			<div id="cwruMainNav">
                        <ul>
                                <li><a href="http://case.edu">CWRU Home</a></li>
                                <li><a href="https://www.case.edu/stage/admissions/">Apply</a></li>
                                <li><a href="http://giving.case.edu">Give</a></li>
                                <li><a href="http://www.case.edu/visit/">Visit</a></li>
                                <li><a href="https://www.case.edu/directory/">Find</a></li>
                        </ul>

							</div>
			<div class="cwruSearch">
			
			<form action="http://www.google.com/cse" id="cse-search-box" target="_parent" name="searchForm" class="searchForm" _lpchecked="1">
		    <input type="hidden" name="cx" value="013802920388319893419:7wtcwv_ppd8">
		    <input type="hidden" name="ie" value="UTF-8">
            <input class="textbox" name="q" type="text" value="search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
			<input type="image" src="/sites/all/themes/cwru-bluegray/images/searchIcon.jpg" class="btn" name="sa">
            </form>
			</div>
		</div>
	</div> <!-- /cwruHeader -->

	<div id="feature">
		<div id="featureHolder">
						<div id="block-views-rotor-block_1" class="clear-block block block-views">


  <div class="content"><div class="view view-rotor view-id-rotor view-display-id-block_1 view-dom-id-2">
    
  
  
      <div class="view-content">
          <div class='rotor' id="rotor-view-id-rotor-view-display-id-block_1">
        <div class='rotor-items' style=" width: 1048px; height: 234px;">
              <div class="rotor-content"><div class="rotor-content-detail"><img src="/eecs/sites/engineering.case.edu.eecs/files/rotor/eecs_web_homepage_banners-1.png" alt="" title="" width="1036" height="226" /></div></div>
              <div class="rotor-content"><div class="rotor-content-detail"><a href="http://engineering.case.edu/eecs/systems_and_controls"><img src="/eecs/sites/engineering.case.edu.eecs/files/rotor/eecs_web_homepage_banners-4.png" alt="CES Center" title="" width="1036" height="226" /></a></div></div>
              <div class="rotor-content"><div class="rotor-content-detail"><a href="http://engineering.case.edu/eecs/academics/undergraduate-program/computer_engineering"><img src="/eecs/sites/engineering.case.edu.eecs/files/rotor/eecs_web_homepage_banners-5.png" alt="nanotech" title="" width="1036" height="226" /></a></div></div>
              <div class="rotor-content"><div class="rotor-content-detail"><a href="http://engineering.case.edu/eecs/electrical_engineering"><img src="/eecs/sites/engineering.case.edu.eecs/files/rotor/eecs_web_homepage_banners-2.png" alt="research" title="" width="1036" height="226" /></a></div></div>
              <div class="rotor-content"><div class="rotor-content-detail"><a href="http://engineering.case.edu/eecs/academics/undergraduate-program/computer_science"><img src="/eecs/sites/engineering.case.edu.eecs/files/rotor/eecs_web_homepage_banners-3.png" alt="" title="" width="1036" height="226" /></a></div></div>
          </div>
      </div>
    </div>
  
  
  
  
  
  
</div> </div>
</div>
		</div>
	</div>
		<div id="contentWrapper">
		<div id="contentContainer">
					                <div id="leftCol">
                	        <div id="block-nice_menus-1" class="clear-block block block-nice_menus">


  <div class="content"><ul class="nice-menu nice-menu-right" id="nice-menu-1"><li class="menu-165 menu-path-front active-trail first  odd "><a href="/eecs/" title="" class="active">EECS Home</a></li>
<li class="menu-462 menuparent menu-path-node-127 even "><a href="/eecs/about" title="About Department">About the Department</a><ul><li class="menu-463 menu-path-node-128 first  odd "><a href="/eecs/about/mission-and-vision" title="Mission Statement">Mission &amp; Vision</a></li>
<li class="menu-964 menu-path-node-318 even "><a href="/eecs/about/leadership" title="EECS Leadership 2013-2014">EECS Leadership 2018-2019</a></li>
<li class="menu-391 menu-path-node-74 odd "><a href="/eecs/about/alumni" title="Distinguished Alumni">Distinguished Alumni</a></li>
<li class="menu-713 menu-path-node-195 even "><a href="/eecs/about/awards-and-recognition" title="Awards and Special Recognition">Awards and Special Recognition</a></li>
<li class="menu-714 menu-path-node-196 odd "><a href="/eecs/about/history" title="History">History</a></li>
<li class="menu-882 menu-path-node-308 even "><a href="/eecs/about/OBR_Doctoral_Program_Statements" title="Ohio Board of Regents Doctoral Program Statements">OBR Doctoral Program Statements</a></li>
<li class="menu-2919 menu-path-node-437 odd  last "><a href="/eecs/node/437" title="Steve Garverick">In Memoriam - Steve Garverick</a></li>
</ul>
</li>
<li class="menu-461 menuparent menu-path-node-126 odd "><a href="/eecs/Academic_Programs" title="Academics">Academics</a><ul><li class="menu-315 menuparent menu-path-node-34 first  odd "><a href="/eecs/academics/undergraduate-program" title="Undergrad">Undergraduate Programs</a><ul><li class="menu-650 menu-path-node-143 first  odd "><a href="/eecs/academics/undergraduate-program/computer_engineering" title="Computer Engineeering">Computer Engineering</a></li>
<li class="menu-651 menu-path-node-144 even "><a href="/eecs/academics/undergraduate-program/computer_science" title="Computer Science">Computer Science</a></li>
<li class="menu-708 menu-path-node-87 odd "><a href="/eecs/electrical_engineering" title="Electrical Engineering">Electrical Engineering</a></li>
<li class="menu-649 menuparent menu-path-node-142 even "><a href="/eecs/systems_and_controls" title="Systems and Control Engineering">Systems and Control Engineering</a><ul><li class="menu-748 menu-path-node-213 first  odd  last "><a href="/eecs/node/213" title="Systems &amp; Control Engineering FAQ">Systems and Control Engineering FAQ</a></li>
</ul>
</li>
<li class="menu-3041 menu-path-node-591 odd "><a href="/eecs/academics/undergraduate-program/data-science-and-analytics" title="Bachelor of Science in Data Science and Analytics">Data Science and Analytics</a></li>
<li class="menu-2944 menu-path-node-453 even  last "><a href="/eecs/node/453" title="Undergraduate Program Statistics">program statistics</a></li>
</ul>
</li>
<li class="menu-2989 menu-path-node-556 even "><a href="/eecs/node/556" title="Undergraduate Advising">Undergraduate Advising</a></li>
<li class="menu-1103 menu-path-node-334 odd "><a href="/eecs/node/334" title="Minor Programs">Minor Programs</a></li>
<li class="menu-709 menuparent menu-path-node-191 even "><a href="/eecs/bsms" title="B.S./M.S. Program">B.S./M.S. Program</a><ul><li class="menu-827 menu-path-node-272 first  odd "><a href="/eecs/node/272" title="BS/MS Application Process">BS/MS Application Process</a></li>
<li class="menu-826 menu-path-node-273 even "><a href="/eecs/node/273" title="BS/MS Thesis Project">BS/MS Thesis</a></li>
<li class="menu-825 menu-path-node-274 odd "><a href="/eecs/node/274" title="BS/MS Financial Aid">BS/MS Financial Aid</a></li>
<li class="menu-824 menu-path-node-275 even "><a href="/eecs/node/275" title="BS/MS Graduation">BS/MS Graduation</a></li>
<li class="menu-720 menu-path-node-202 odd  last "><a href="/eecs/node/202" title="BS/MS FAQ">BS/MS FAQ</a></li>
</ul>
</li>
<li class="menu-388 menuparent menu-path-node-65 odd "><a href="/eecs/about/graduate-programs" title="Graduate Admissions">Graduate Programs</a><ul><li class="menu-761 menu-path-node-225 first  odd "><a href="/eecs/CS_MS" title="M.S. Graduate Program (CS)">M.S. Graduate Program (Computer Science)</a></li>
<li class="menu-760 menu-path-node-224 even "><a href="/eecs/eecs/about/graduate-programs/ms-graduate-program-ecse" title="M.S. Graduate Program (ECSE)">M.S. Graduate Program (ECSE)</a></li>
<li class="menu-759 menu-path-node-223 odd "><a href="/eecs/CS_PhD" title="Ph.D. Graduate Student Requirements (CS)">Ph.D. Graduate Student Requirements (Computer Science)</a></li>
<li class="menu-664 menu-path-node-178 even  last "><a href="/eecs/graduate_requirements_ECSE" title="Ph.D. Graduate Student Requirements (ECSE)">Ph.D. Graduate Student Requirements (ECSE)</a></li>
</ul>
</li>
<li class="menu-712 menu-path-node-194 even  last "><a href="/eecs/node/194" title="Academic Integrity">Academic Integrity</a></li>
</ul>
</li>
<li class="menu-832 menu-path-engineeringcaseedu-eecs-node-306 even "><a href="http://engineering.case.edu/eecs/node/306" title="">intro computing courses</a></li>
<li class="menu-662 menu-path-seminars odd "><a href="/eecs/seminars">Seminars</a></li>
<li class="menu-402 menu-path-node-106 even "><a href="/eecs/research" title="Research Areas">Research</a></li>
<li class="menu-313 menu-path-node-32 odd "><a href="/eecs/faculty-staff" title="Facutly &amp; Staff">Faculty &amp; Staff</a></li>
<li class="menu-335 menuparent menu-path-node-54 even "><a href="/eecs/facilities" title="Facilities">Facilities</a><ul><li class="menu-1608 menu-path-engineeringcaseedu-lab-circuitslab- first  odd "><a href="http://engineering.case.edu/lab/circuitslab/" title="">Sears Undergraduate Laboratory</a></li>
<li class="menu-881 menu-path-csegroupscaseedu-cadence even  last "><a href="http://csegroups.case.edu/cadence" title="">cadence group</a></li>
</ul>
</li>
<li class="menu-3043 menuparent menu-path-https--engineeringcaseedu-eecs-node-725 odd "><a href="https://engineering.case.edu/eecs/node/725" title="">Community</a><ul><li class="menu-705 menuparent menu-path-node-185 first  odd "><a href="/eecs/student-opportunities" title="Student Organizations">Student Organizations</a><ul><li class="menu-707 menu-path-node-190 first  odd "><a href="/eecs/node/190" title="ACM Student Chapter">ACM Student Chapter</a></li>
<li class="menu-706 menu-path-node-189 even  last "><a href="/eecs/node/189" title="IEEE Student Chapter">IEEE Student Chapter</a></li>
</ul>
</li>
<li class="menu-3044 menu-path-https--caseedu-womenintech- even "><a href="https://case.edu/womenintech/" title="">Women in Tech</a></li>
<li class="menu-3045 menu-path-https--communitycaseedu-GWCC-club_signupts344138 odd  last "><a href="https://community.case.edu/GWCC/club_signup?ts=344138" title="">Girls Who Code</a></li>
</ul>
</li>
<li class="menu-724 menu-path-https--cseschedulercaseedu-eecs- even "><a href="https://csescheduler.case.edu/eecs/" title="">eecs scheduler</a></li>
<li class="menu-304 menuparent menu-path-node-22 odd "><a href="/eecs/contact" title="Contact Us">Contact Us</a><ul><li class="menu-464 menu-path-node-129 first  odd  last "><a href="/eecs/Directions" title="Directions">Directions</a></li>
</ul>
</li>
<li class="menu-823 menu-path-engineeringcaseedu even "><a href="http://engineering.case.edu" title="">cse home</a></li>
<li class="menu-2946 menu-path-node-197 odd  last "><a href="/eecs/jobs" title="Faculty and Staff Employment Opportunities">employment opportunities</a></li>
</ul>
</div>
</div>
		                </div>
			
   		    <div id="centerCol">
					 	                        						<div id="centerColHome">
			    <div class="blankH"><img width="10" height="230" alt="b" src="/sites/all/themes/cwru-bluegray/images/blank.jpg" /></div>
			    <div class="blankH"><img width="300" height="10" alt="b" src="/sites/all/themes/cwru-bluegray/images/blank.jpg" /></div>
				
						<h1> Home</h1>						            		<div id="node-68" class="node sticky">



  
  <div class="content clear-block">
    <div class="rtecenter"><span style="font-size:24px"><span style="color:#2c3e50"><strong>Welcome to the Department of</strong></span></span></div>

<div class="rtecenter"><span style="font-size:26px"><span style="color:#2c3e50"><strong>Electrical Engineering and Computer Science</strong></span></span></div>

<div class="rtecenter">&nbsp;</div>

<div class="rtecenter">
<p><em>The mission of the EECS Department is to educate students that have the requisite technical breadth and communication skills to solve significant problems in industry and society through leadership and innovation in their fields, advance knowledge in EECS and multi-disciplinary areas through high-impact scholarship and research, and provide service to the profession, the university, the community, and society.</em></p>
</div>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
<div id="block-views-recent_stories-block_1" class="clear-block block block-views">

<h3>EECS News</h3>
  <div class="content"><div class="view view-recent-stories view-id-recent_stories view-display-id-block_1 view-dom-id-1">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <div id="node-724" class="node">


  <h2><a href="/eecs/node/724" title="EE PhD Student Mohammad Islam granted Elise Lindsay International Graduate Student award">EE PhD Student Mohammad Islam granted Elise Lindsay International Graduate Student award</a></h2>

      <span class="submitted"></span>
  
  <div class="content clear-block">
    <p><img alt="Mohammad Islam with his award" src="https://case.edu/international/sites/case.edu.international/files/styles/large/public/2019-04/Graduate%20Student.jpg?itok=5KeusOc0" style="float:left; height:288px; width:250px" />The Elise Lindsay International Graduate Student award honors a student who has exemplified talent, perseverance, courage, and a desire to make the world a better place th</p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

          <div class="links"><ul class="links inline"><li class="node_read_more first last"><a href="/eecs/node/724" title="Read the rest of EE PhD Student Mohammad Islam granted Elise Lindsay International Graduate Student award.">Read more</a></li>
</ul></div>
      </div>

</div>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <div id="node-723" class="node">


  <h2><a href="/eecs/node/723" title="CS Professor Dr. Harold Connamacher wins The Carl F. Wittke Award for Excellence in Undergraduate Teaching!">CS Professor Dr. Harold Connamacher wins The Carl F. Wittke Award for Excellence in Undergraduate Teaching!</a></h2>

      <span class="submitted"></span>
  
  <div class="content clear-block">
    <p><img alt="hsc21's picture" src="http://engineering.case.edu/profiles/sites/engineering.case.edu.profiles/files/pictures/picture-134.jpg" style="float:right" /><em>The Carl F. Wittke Award&nbsp;</em>was established in 1971 in honor of Carl Wittke, a former faculty member, dean and vice president of Western Reserve University.</p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

          <div class="links"><ul class="links inline"><li class="node_read_more first last"><a href="/eecs/node/723" title="Read the rest of CS Professor Dr. Harold Connamacher wins The Carl F. Wittke Award for Excellence in Undergraduate Teaching!.">Read more</a></li>
</ul></div>
      </div>

</div>
  </div>
  <div class="views-row views-row-3 views-row-odd">
    <div id="node-722" class="node">


  <h2><a href="/eecs/node/722" title="ECSE student Yongkun Sui receives 2019 Ruth Barber Moon Award">ECSE student Yongkun Sui receives 2019 Ruth Barber Moon Award</a></h2>

      <span class="submitted"></span>
  
  <div class="content clear-block">
    <p><img alt="" src="/eecs/sites/engineering.case.edu.eecs/files/img-1770.jpg" style="float:right; height:250px; width:188px" />The Ruth Barber Moon Award accepts one nomination from each department at CWRU for a graduate student that demonstrates academic promise, leadership ability, and financial need.</p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

          <div class="links"><ul class="links inline"><li class="node_read_more first last"><a href="/eecs/node/722" title="Read the rest of ECSE student Yongkun Sui receives 2019 Ruth Barber Moon Award.">Read more</a></li>
</ul></div>
      </div>

</div>
  </div>
  <div class="views-row views-row-4 views-row-even">
    <div id="node-720" class="node">


  <h2><a href="/eecs/node/720" title="Spring event launches new Women in Tech Initiative at CWRU">Spring event launches new Women in Tech Initiative at CWRU</a></h2>

      <span class="submitted"></span>
  
  <div class="content clear-block">
    <p><a href="https://myemail.constantcontact.com/Spring-event-launches-Women-in-Tech-Initiative.html?soid=1103648775463&amp;aid=nd6vgJQ3Bes"><img alt="" src="/eecs/sites/engineering.case.edu.eecs/files/dsc_0165.jpg" style="float:right; height:167px; width:250px" /></a>The gender gap, although it has improved in the technology sector, still exists in a big way.</p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

          <div class="links"><ul class="links inline"><li class="node_read_more first last"><a href="/eecs/node/720" title="Read the rest of Spring event launches new Women in Tech Initiative at CWRU.">Read more</a></li>
</ul></div>
      </div>

</div>
  </div>
  <div class="views-row views-row-5 views-row-odd views-row-last">
    <div id="node-717" class="node">


  <h2><a href="/eecs/node/717" title="Alum and Philanthropist Larry Sears guest stars on Think[box] Radio ">Alum and Philanthropist Larry Sears guest stars on Think[box] Radio </a></h2>

      <span class="submitted"></span>
  
  <div class="content clear-block">
    <p>Larry Sears and Sally Zlotnick-Sears donated $10 million in 1992 to build the now renowned Think[box] in Sears Tower. <a href="https://www.casealum.org/podcast?erid=2613312&amp;trid=4b8af97a-5df4-4e9b-bec2-e2b05ffde784">Read more</a> on Larry Sears and his guest appearance on Think[box] Radio or listen to the podcast below!</p>

<p>&nbsp;</p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

          <div class="links"><ul class="links inline"><li class="node_read_more first last"><a href="/eecs/node/717" title="Read the rest of Alum and Philanthropist Larry Sears guest stars on Think[box] Radio .">Read more</a></li>
</ul></div>
      </div>

</div>
  </div>
    </div>
  
  
  
      
<div class="more-link">
  <a href="/eecs/news/allnews">
    more  </a>
</div>
  
      <div class="view-footer">
      <p>
<h2><center><a href="/eecs/news/allnews">Click For More News</a></center></h2>
</p>    </div>
  
  
</div> </div>
</div>
			
						</div>
			          	    </div>

	                    	    <div id="rightCol" class="sidebar">
          		<div id="block-block-13" class="clear-block block block-block">


  <div class="content"><p><a href="https://online-engineering.case.edu/systems"><img alt="Earn your master's degree in systems &amp; control engineering entirely online. Apply now!" src="/eecs/sites/engineering.case.edu.eecs/files/eecs.png" style="border-width: 0px; border-style: solid;" /></a></p>
</div>
</div>
<div id="block-gcal_events-0" class="clear-block block block-gcal_events">

<h3>Upcoming Events</h3>
  <div class="content"><p>No Upcoming Events</p>
</div>
</div>
<div id="block-gcal_events-1" class="clear-block block block-gcal_events">

<h3>Seminars (In White 411 unless noted otherwise)</h3>
  <div class="content"><p>No upcoming seminars</p>
</div>
</div>
	            </div>
      		    		</div>
	    </div>
    	</div> <!-- /contentWrapper -->
    	<div id="footer">
	    <div class="footerContent">
        	    <div id="block-cwrufooter-0" class="clear-block block block-cwrufooter">


  <div class="content">
<div class="footerLeftCol">
	<!-- <p class="footer-message"><?php print $footer_message ?></p> -->
	<div class="footerSearch">
		<form action="" target="_parent" method="post" name="searchForm" class="searchForm" id="searchForm" 
	onsubmit="window.location='http://case.edu/search-results/?cx=004305171799132815236%253Aciq4c8b3yv4&ie=UTF-8&q=inurl%3Aengineering.case.edu/eecs ' + document.getElementById('searchbox').value; return false;">
	 <input name="" id="searchbox" type="text" value="search eecs..." onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" /><input name="submit" type="image" class="btn"
        src="/sites/all/themes/cwru_bluegray/images/searchIcon.jpg" 
/></form>
</div>

<div class="footerLeftC">&copy; 2019 Case Western Reserve University, Cleveland, Ohio 44106, 216.368.2000 <br />Electrical Engineering and Computer Science <br />Glennan 321, 216.368.2802 (<a href="http://www.case.edu/legal.html">legal notice</a>)
	</div>
</div>

<div class="footerMiddleCol">
	<div class="footerHeader">Social Media</div><ul>
	<li><a href="https://www.facebook.com/EECSCWRU">Facebook</a></li>
	<li><a href="https://twitter.com/CaseEngineer">Twitter</a></li>
	<li><a href="http://blog.case.edu/case-news/rss20.xml">RSS</a></li>
	<li><a href="http://www.youtube.com/user/case">Youtube</a></li>
</ul>
</div>
<div class="footerRightCol">
	<div class="footerHeader">Information</div><ul>
	<li><a href="http://www.case.edu/think/">News &amp; Media</a></li>
	<li><a href="http://www.case.edu/events/">Programs &amp; Events</a></li>
	<li><a href="http://www.case.edu/stratplan/">Strategic Plan</a></li>
	<li><a href="http://www.case.edu/warn/">Case WARN</a></li>
</ul>
</div>

<div class="footerRightCol">
	<div class="footerHeader">Resources</div><ul>
	<li><a href="http://ieee.case.edu/">CWRU IEEE</a></li>
	<li><a href="http://acm.case.edu/">CWRU ACM</a></li>
</ul>
</div></div>
</div>
	    </div>
    	</div> <!--/footer -->
	<!-- /layout -->
    	<script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-138862447-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>

     <!--Google AddWords -->
     <!-- Google Code for Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 936980831;
var google_conversion_label = "8Oo3COnu4AUQ3-LkvgM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/936980831/?value=0&amp;label=8Oo3COnu4AUQ3-LkvgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
     
     <!--End Google AddWords -->
    </body>
     
     
    
</html>
